[submodule "todoapp-ui"]
	path = todoapp-ui
	url = https://github.com/sf-fresher-batch-2020/todoapp-ui.git
[submodule "todoapp-api"]
	path = todoapp-api
	url = https://github.com/sf-fresher-batch-2020/todoapp-api.git
[submodule "todoapp-angular-ui"]
	path = todoapp-angular-ui
	url = https://github.com/sf-fresher-batch-2020/todoapp-angular-ui.git
[submodule "todoapp-mock-api"]
	path = todoapp-mock-api
	url = https://github.com/sf-fresher-batch-2020/todoapp-mock-api.git
